BAI 1 : 
<br>
  [1, 2, 3, 4, 5]
<br>
KET QUA : {{ ketQua }}

<hr>

BAI 2: 
<div>
  <p>Tên: {{ person.name }}</p>
  <p>Tuổi: {{ person.age }}</p>
  <p>Email: {{ person.email }}</p>
</div>
<hr>

BAI 3:
<br>
Ket qua: {{ generic }}
<hr>

BAI 4: 
<br>
Mau do: {{ color }}
<hr>

BAI 5: 
<br>
10 x 20
Dien tich {{ acreage }}
<hr>

Bai 6:
See consolog
<hr>

Bai 7: 
<hr>

Bai 8: 
<br>
5 giai thua la {{ factorial }}<br>
13 co phai la so nguyen to khong . Answer: {{ prime }}
<hr>

Bai 9: <br>
Tính tổng giá trị (price * quantity) của tất cả sản phẩm trong danh sách: {{ totalValue }}<br>
Lọc ra các sản phẩm có giá lớn hơn 100: {{expensiveProducts}}<br>
Tính tổng số lượng của tất cả các sản phẩm có giá dưới 100: {{ totalQuantityUnder100 }}<br>
